<table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3">Date Time</th>
        <th scope="col" class="px-6 py-3">weather</th>
        <th scope="col" class="px-6 py-3">description</th>
        <th scope="col" class="px-6 py-3">temp</th>
        <th scope="col" class="px-6 py-3">temp_min</th>
        <th scope="col" class="px-6 py-3">temp_max</th>
        <th scope="col" class="px-6 py-3">pressure</th>
        <th scope="col" class="px-6 py-3">humidity</th>
      </tr>
    </thead>
    <tbody>
      <% @weather.each_with_index do |element, index| %>
        <%= render "row", element: , index: %>
      <% end %>
    </tbody>
  </table>